//grey tabby theme (Abby)
$ltLilac: #F2F3E9
$medGrey: #A5A597
$dkGrey: #746D67
$babyPink: #F2CBBF
$dkDkGrey: #0E0E0B

//brown tabby theme (Gaucho & Salsa)
$cream: #FFFFE3
$brnBlk: #261600
$orange: #D98B40
$tan: #D9B59C
$brown: #8E5938
$terraCotta: #A64533

//tuxie theme 01 (Baby, Biscuit, Frank, and Cleo)
$black: #000
$white: #FFF
$pinkBeans: #FF9695

//tuxie theme 02 (Tom and Eddie)
$grey3: #6C7175

//greyscale theme
$grey1: #313335
$grey2: #54585B
$grey4: #787E82
$grey5: #B2BBC1

//floral theme
$salmon: #F16B78
$hotPink: #DC326C
$skyBlue: #64A6A7
$paleYellow: #F1EFC6
$mustard: #D7B240

//flamingo theme
$medPink: #F05D78
$aqua: #02C1BE
$bluGrn: #01BEAB
$paleBlue: #C2F1ED
$ltPink: #F2AAAC

//bright rainbow theme
$yellowOrange: #FFA400
$redOrange: #E85F0C
$red: #FF1600
$fuchsia: #E80CA6
$purrpl: #9E00FF

//razzberry white mocha theme
$razz: #F24B6A
$berry: #D95B96
$xtraPaleGrey: #F2F2F2
$latte: #D9A273
$oatmeal: #F2D4C2

//peaches n creme theme
$khaki: #F2DC9B
$camel: #F2A057
$earthy: #8C786C
$peachy: #F27B50
$mauve: #BF705E