//_nav.sass

html, body 
    margin: 0
    padding: 0


ul, li 
    box-sizing: border-box
    list-style-type: none
    margin: 0
    padding: 0

nav 
    > ul 
        @include clearfix
        background: $bluGrn
    
    > ul > li 
        font-size: 1.15em
        &:last-child a         
    
    > ul.closed > li 
        display: inline-block
        @include format(sm)
            display: none
            
    a 
        font-family: 'Shadows Into Light Two', monospace
        font-size: 1.5em
        box-sizing: border-box
        background: $bluGrn
        color: $white
        text-decoration: none
        display: block
        padding: 6px 30px
        text-align: center
        @include format(med)
            padding: 6px 20px
        @include format(sm)
            //border-bottom: 1px solid $white
        
        &:hover 
            background: $peachy
            color: $white
            text-decoration: none
            text-shadow: 2px 2px 1px $black
            box-shadow: -2px -2px 1px $black
            border: 1px inset $black
        
nav
    width: 100%
    background-color: $bluGrn
    
ul
    margin: auto
    width: 50%
    
#mobileMenu
    display: block
    @include format(medUp)
        display: none
        
//nav
//    width: 69%
//    margin: auto
//    margin-bottom: 1em
//    @include format(sm)
//        width: 100% 