@import "colors"
@import "grid"
@import "utils"
@import "bootstrap"

html, body
    margin: 0
    padding: 0


.button
    display: block
    float: left
    padding: 40px auto
    min-width: 10em
    