@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two')
@import "colors"
@import "grid"
@import "utils"
@import "bootstrap"
@import "nav"

//css reset
html, body  
    margin: 0
    padding: 0
    
#bannerContainer
    width: 100%
    
#mastHeadContainer
    background-color: $brnBlk
    margin: auto
    
#mastHead
    @include format(lg)
        margin: auto
        max-width: 1920px
        width: 100%
    @include format(med)
        margin: auto
        max-width: 1200px
        width: 100%
    @include format(sm)
        margin: auto
        max-width: 800px
        width: 100%
        
img.lgMastHead
    @include format(lg)
        display: flex
        max-width: 100%
    @include format(med)
        display: none
    @include format(sm)
        display: none

img.medMastHead
    @include format(lg)
        display: none
    @include format(med)
        display: flex
        max-width: 100%
    @include format(sm)
        display: none
        
img.smMastHead
    @include format(lg)
        display: none
    @include format(med)
        display: none
    @include format(sm)
        display: flex
        max-width: 100%
        
main.container
    margin-top: 1em
    margin: auto
.button
    display: block
    float: left
    padding: 40px auto
    min-width: 10em
    
h1.elly
    margin-top: 25px
    padding: 15px 25px
    background: $xtraPaleGrey
    font-family: 'Shadows Into Light Two', cursive
    font-size: 3em
    font-weight: bolder
    color: $grey1
    text-shadow: -2px 2px 1.5px $razz
    border: 8px dotted $grey1
    border-radius: 40px 5px
    
h1.comicHeadline
    width: 800px

h2
    margin-top: 25px
    width: 100%
    padding: 15px 25px
    background-color: $xtraPaleGrey
    color: $teal
    font-family: 'Shadows Into Light Two', cursive
    font-size: 2.75em
    font-weight: bolder
    border: 5px dotted $terraCotta
    border-radius: 40px 5px
    text-shadow: -2px 2px 2.5px $brnBlk
    a
        color: $teal
    a:hover
        color: $peachy
        text-decoration: none
        text-shadow: -3px 3px 6px $brnBlk
    
p
    width: 100%
    padding: 15px 25px
    text-align: justify
    border: 1px solid $white
    color: $brnBlk
    
div.overlay
    margin: 40px auto 20px auto
    width: 100%
    height: 3.8em
    background-color: $ltPink
    z-index: 0
    display: block
    
img.cat
    margin-left: 5px 
    display: inline-block
    z-index: 4
    
h1.david
    margin-left: 6px 
    font-family: 'Shadows Into Light Two', cursive
    font-size: 2.75em
    font-weight: bolder
    text-align: center
    display: inline-block
    z-index: 4
    
div.overlay_1
    margin: 40px auto 20px auto
    width: 100%
    height: 3.8em
    background-color: $black
    z-index: 0
    display: block
    
img.cat_1
    margin-left: 5px
    display: inline-block
    z-index: 4
    
h1.david_1
    margin-left: 6px 
    font-family: 'Shadows Into Light Two', cursive
    font-size: 2.75em
    font-weight: bolder
    text-align: middle
    color: $white
    display: inline-block
    z-index: 4